<h1>Todo App</h1>

<p>
  <a href="/" class="<%= page === 'home' ? 'active' : '' %>">Home</a> |
  <a href="/users" class="<%= page === 'users' ? 'active' : '' %>">Users</a> |
  <a href="/tasks" class="<%= page === 'tasks' ? 'active' : '' %>">Tasks</a> |
  <a href="/tasks/add" class="<%= page === 'addTask' ? 'active' : '' %>"
    >Add New Task</a
  >
</p>
