<h1 style="color: red">Restoku</h1>

<p>
  <a class="<%= page == '/categories' ? 'active' : '' %>" href="/categories">
    Categories
  </a>
  |
  <a class="<%= page == '/menus' ? 'active' : '' %>" href="/menus"> Menus </a>
  |
  <a class="<%= page == '/menus/add' ? 'active' : '' %>" href="/menus/add">
    Add Menu
  </a>
</p>
