<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Menu</title>
  </head>
  <body>
    <h1>Add Menu</h1>

    <form method="post">
      <p>
        <label>Name</label> <br />
        <input type="text" name="name" />
      </p>

      <p>
        <label>Category</label> <br />
        <select name="CategoryId">
          <% categories.forEach(({id, name}) => { %>
          <option value="<%= id %>"><%= name %></option>
          <% }) %>
        </select>
      </p>

      <p>
        <label>Stock</label> <br />
        <input type="number" name="stock" />
      </p>

      <p>
        <label>Price</label> <br />
        <input type="number" name="price" />
      </p>

      <p>
        <label>Created At</label> <br />
        <input type="date" name="createdAt" />
      </p>

      <p>
        <button type="submit">Save</button>
      </p>
    </form>
  </body>
</html>
