<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Task</title>
  </head>
  <body>
    <h1>Add New Task</h1>

    <form method="post">
      <p>
        <label for="title">Title</label> <br />
        <input type="text" name="title" id="title" />
      </p>

      <p>
        <label for="deadline">Deadline</label> <br />
        <input type="date" name="deadline" id="deadline" />
      </p>

      <p>
        <label for="priority">Priority</label> <br />
        <select name="priority" id="priority">
          <option value="" disabled selected>-- Select Priority --</option>
          <option value="L">Low</option>
          <option value="M">Medium</option>
          <option value="H">High</option>
          <option value="U">Urgent</option>
        </select>
      </p>

      <p>
        <label for="UserId">PIC</label> <br />
        <select name="UserId" id="UserId">
          <option value="" disabled selected>-- Select PIC --</option>
          <% users.forEach(el => { %>
          <option value="<%= el.id %>"><%= el.fullName %></option>
          <% }) %>
        </select>
      </p>

      <p>
        <button type="submit">Save</button>
      </p>
    </form>
  </body>
</html>
