<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR 500</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>ERROR 500</h1>
    <p>Terjadi kesalahan pada sistem dengan error sebagai berikut</p>
    <div class="error"><%= error.message %></div>

    <p>Silakan hubungi admin</p>
  </body>
</html>
