<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>

    <table border="1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
        </tr>
      </thead>

      <tbody>
        <% users.forEach((el, index) => { %>
        <tr>
          <td><%= ++index %></td>
          <td><%= el.fullName %></td>
          <td><%= el.email %></td>
          <td><%= el.genderLabel %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
